<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>StateManagement</display-name>
	<context-param>
		<param-name>WEBAPP</param-name>
		<param-value>ADIT</param-value>
	</context-param>	
	<servlet>
		<description></description>
		<display-name>CookieDemo</display-name>
		<servlet-name>CookieDemo</servlet-name>
		<servlet-class>in.ac.adit.servlet.CookieDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieDemo</servlet-name>
		<url-pattern>/CookieDemo</url-pattern>
	</servlet-mapping>
</web-app>